# Virtual environment
venv/
env/
.env/

# Python bytecode
*.pyc
*.pyo
__pycache__/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db

# Test coverage
.coverage
*.coveragerc

# pyenv
.python-version

# Pipenv
Pipfile.lock

# MyPy
.mypy_cache/

# Other
*.log
